body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    color: #02079c;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #56013c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
  }
  